.w {
	width: 1200px;
	margin: auto;
}
.header {
	height: 82px;
	border-bottom: 2px solid #b1191a;
}
.header a {
	display: block;
	width: 180px;
	height: 56px;
	padding-top: 15px;
}
.register_area {
	height: 520px;
	margin-top: 20px;
	border: 1px solid #ccc;
}
.register_area h3 {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: 400;
	background-color: #ececec;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}
.register_area h3 em {
	float: right;
	font-size: 14px;
}
.register_area em a {
	color: #c81623;
}
.reg_form {
	width: 600px;
	height: 400px;
	margin: 40px auto 0;
}
.reg_form li {
	margin-bottom: 15px;
}
.reg_form label {
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-align: right;
}
.inp {
	width: 238px;
	height: 34px;
	border: 1px solid #ccc;
	margin: 0 10px;
}
.error {
	line-height: 36px;
	color: #df3033;
}
.error_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(../img/error.png) no-repeat;
}
.safe {
	margin: 10px 0 0 185px;
}
.safety {
	color: #b2b2b2;
	margin-right: 5px;
}
.safe em {
	display: inline-block;
	width: 34px;
	height: 13px;
	text-align: center;
	line-height: 13px;
	font-size: 12px;
	color: #fff;
}
.ruo {
	background-color: #de1111;
}
.zhong {
	background-color: #40b83f;
}
.qiang {
	background-color: #f79100;
}
.agree {
	margin-left: 112px;
}
.agree input {
	vertical-align: middle;
	margin-right: 5px;
}
.agree input:checked {
	color: #1ba1e6;
}
.agree a {
	color: #1ba1e6;
}
.over {
	width: 200px;
	height: 34px;
	font-size: 14px;
	background-color: #c81623;
	color: #fff;
	margin: 30px 0 0 130px;
	border: none;
	cursor: pointer;
}
.mod_copyright {
	width: 1200px;
	height: 119px;
	text-align: center;
}
.mod_copyright_links {
	padding: 20px 0 10px;
}
.mod_copyright_split {
	padding: 0 10px;
}
.mod_copyright_info {
	line-height: 20px;
}